In [175]:
from sklearn.metrics.pairwise import pairwise_distances

In [176]:
import numpy as np

In [244]:
from sklearn.impute import KNNImputer

In [190]:
df1 = pd.read_csv('output_1.csv')
df2 = pd.read_csv('output_2.csv')
df3 = pd.read_csv('output_3.csv')
df4 = pd.read_csv('output_4.csv')
df5 = pd.read_csv('output_5.csv')

In [204]:
df_selecionada1 = df1[['13_Nitratos_mgl_n)',  '17_OD_mgl_02', '18_PH', '46_Coliformes_Fecais_nmp_100ml', '47_Coliformes_Totais_nmp_100ml', '50_Condutivida_de_Eletrica_us_cm_a_20c', '7_DBO_mgl_02)']]
df_selecionada2 = df2[['13_Nitratos_mgl_n) ',  '17_OD_mgl_02 ', '18_PH ', '46_Coliformes_Fecais_nmp_100ml ', '47_Coliformes_Totais_nmp_100ml ', '50_Condutivida_de_Eletrica_us_cm_a_20c ', '7_DBO_mgl_02) ']]
df_selecionada3 = df3[['13_Nitratos_mgl_n)',  '17_OD_mgl_02', '18_PH', '46_Coliformes_Fecais_nmp_100ml', '47_Coliformes_Totais_nmp_100ml', '50_Condutivida_de_Eletrica_us_cm_a_20c', '7_DBO_mgl_02)']]
df_selecionada4 = df4[['13_Nitratos_mgl_n)',  '17_OD_mgl_02', '18_PH', '46_Coliformes_Fecais_nmp_100ml', '47_Coliformes_Totais_nmp_100ml', '50_Condutivida_de_Eletrica_us_cm_a_20c', '7_DBO_mgl_02)']]
df_selecionada5 = df5[['13_Nitratos_mgl_n) ',  '17_OD_mgl_02 ', '18_PH ', '46_Coliformes_Fecais_nmp_100ml ', '47_Coliformes_Totais_nmp_100ml ', '50_Condutivida_de_Eletrica_us_cm_a_20c ', '7_DBO_mgl_02) ']]

In [205]:
df_selecionada1.columns = ['Nitrato', 'OD', 'Ph', 'ColFecais', 'ColTotais', 'Condutividade', 'DBO']
df_selecionada2.columns = ['Nitrato', 'OD', 'Ph', 'ColFecais', 'ColTotais', 'Condutividade', 'DBO']
df_selecionada3.columns = ['Nitrato', 'OD', 'Ph', 'ColFecais', 'ColTotais', 'Condutividade', 'DBO']
df_selecionada4.columns = ['Nitrato', 'OD', 'Ph', 'ColFecais', 'ColTotais', 'Condutividade', 'DBO']
df_selecionada5.columns = ['Nitrato', 'OD', 'Ph', 'ColFecais', 'ColTotais', 'Condutividade', 'DBO']

In [206]:
linhas_com_nulos = df_selecionada1.isnull().any(axis=1).sum() + df_selecionada2.isnull().any(axis=1).sum() + df_selecionada3.isnull().any(axis=1).sum() + df_selecionada4.isnull().any(axis=1).sum() + df_selecionada5.isnull().any(axis=1).sum()

print(linhas_com_nulos)

3983

In [207]:
total_linhas = df_selecionada1.shape[0] + df_selecionada2.shape[0] + df_selecionada3.shape[0] + df_selecionada4.shape[0] + df_selecionada5.shape[0]

print(total_linhas)

6691

In [223]:
def converter_colunas_para_float(df):
    # Substituir strings vazias ou espaços em branco por NaN
    df = df.replace(r'^\s*$', np.nan, regex=True)
    
    # Converter todas as colunas para float, lidando com erros
    df_float = df.apply(pd.to_numeric, errors='coerce')
    
    return df_float

df_selecionada1 = converter_colunas_para_float(df_selecionada1)
df_selecionada2 = converter_colunas_para_float(df_selecionada2)
df_selecionada3 = converter_colunas_para_float(df_selecionada3)
df_selecionada4 = converter_colunas_para_float(df_selecionada4)
df_selecionada5 = converter_colunas_para_float(df_selecionada5)

In [224]:
def proximidade(df_selecionada):
    df_filled = df_selecionada.fillna(0)

    dist_matrix = pairwise_distances(df_filled, metric='euclidean')

    df_imputed = df_selecionada.copy()

    for i in range(df_selecionada.shape[0]):
        for j in df_selecionada.columns:
            if pd.isna(df_selecionada.loc[i, j]):
                similar_lines = np.argsort(dist_matrix[i])[:500]
                values = [df_selecionada.loc[sim, j] for sim in similar_lines if not pd.isna(df_selecionada.loc[sim, j])]
                if values:
                    df_imputed.loc[i, j] = np.mean(values)
    return df_imputed

In [225]:
df_imputed1 = proximidade(df_selecionada1)
df_imputed2 = proximidade(df_selecionada2)
df_imputed3 = proximidade(df_selecionada3)
df_imputed4 = proximidade(df_selecionada4)
df_imputed5 = proximidade(df_selecionada5)

In [233]:
linhas_com_nulos1 = df_imputed1.isnull().any(axis=1).sum()
linhas_com_nulos2 = df_imputed2.isnull().any(axis=1).sum()
linhas_com_nulos3 = df_imputed3.isnull().any(axis=1).sum()
linhas_com_nulos4 = df_imputed4.isnull().any(axis=1).sum()
linhas_com_nulos5 = df_imputed5.isnull().any(axis=1).sum()

print(f"1: {linhas_com_nulos1} ; 2: {linhas_com_nulos2} ; 3: {linhas_com_nulos3} ; 4: {linhas_com_nulos4} ; 5: {linhas_com_nulos5}")

1: 0 ; 2: 0 ; 3: 0 ; 4: 0 ; 5: 0

In [245]:
def preencher_nulos_com_knn(df, n_neighbors=5):
    # Inicializa o imputador KNN
    imputador = KNNImputer(n_neighbors=n_neighbors)
    
    # Transforma a tabela em um array NumPy
    df_array = df.values
    
    # Preenche valores nulos
    df_preenchida_array = imputador.fit_transform(df_array)
    
    # Converte o array de volta para um DataFrame
    df_preenchida = pd.DataFrame(df_preenchida_array, columns=df.columns)
    
    return df_preenchida

preencher_nulos_com_knn(df_selecionada1)
preencher_nulos_com_knn(df_selecionada2)
preencher_nulos_com_knn(df_selecionada3)
preencher_nulos_com_knn(df_selecionada4)
preencher_nulos_com_knn(df_selecionada5)

     Nitrato   OD     Ph  ColFecais  ColTotais  Condutividade    DBO
0      0.338  3.8  6.558     3385.0   58961.20         115.44   2.00
1      0.312  2.2  6.650    64340.0   51324.40         127.16  35.72
2      0.164  3.3  6.490     1102.0    5966.40         139.74   2.00
3      0.614  4.1  6.390     3436.4   59943.20          86.22   7.80
4      0.312  2.2  6.640    64340.0   51324.40         127.16  35.72
..       ...  ...    ...        ...        ...            ...    ...
495    0.416  6.5  7.500     6626.6   10152.40          90.80   1.60
496    0.494  4.6  7.680     1406.4   50868.80          89.60   7.80
497    0.096  5.5  6.940    10492.0    6688.06          75.98   2.34
498    0.384  6.8  7.510      940.4    2203.00         102.60   2.00
499    0.672  8.3  7.020      602.0    3511.62          87.00   2.00

[500 rows x 7 columns]

In [237]:
# Valores ideais (VIdeal)
VIdeal = {'Nitrato': 0, 'OD': 14.6, 'Ph': 7.0, 'ColFecais': 0, 'ColTotais': 0, 'Condutividade': 0, 'DBO': 0}

# Limites permitidos (Si)
Si = {'Nitrato': 45, 'OD': 10, 'Ph': 8.5, 'ColFecais': 100, 'ColTotais': 1000, 'Condutividade': 1000,  'DBO': 5}

# Calcula a constante k
k = 1 / sum(Si.values())

# Função para calcular o qi
def calcular_qi(Vi, VIdeal, Si):
    return 100 * (Vi - VIdeal) / (Si - VIdeal)

# Função para calcular o wi
def calcular_wi(Si, k):
    return k / Si

# Para cada parâmetro, calcula-se o qi e wi
def WQI(df_imputed):
    for param in Si.keys():
        df_imputed[f'qi_{param}'] = calcular_qi(df_imputed[param], VIdeal[param], Si[param])
        df_imputed[f'wi_{param}'] = calcular_wi(Si[param], k)

    df_imputed['WQI'] = df_imputed[[f'qi_{param}' for param in Si.keys()]].multiply(df_imputed[[f'wi_{param}' for param in Si.keys()]].values).sum(axis=1) / df_imputed[[f'wi_{param}' for param in Si.keys()]].sum(axis=1)
    return df_imputed

df_imputed1 = WQI(df_imputed1)
df_imputed2 = WQI(df_imputed2)
df_imputed3 = WQI(df_imputed3)
df_imputed4 = WQI(df_imputed4)
df_imputed5 = WQI(df_imputed5)

In [241]:
# Função para classificar o WQI em faixas
def classificar_wqi(wqi):
    if wqi <= 25:
        return 1  # Água Limpa
    elif wqi <= 50:
        return 2  # Não Limpa
    elif wqi <= 75:
        return 3  # Poluída
    else:
        return 4  # Altamente Poluída

# Aplica a função para classificar cada valor de WQI
df_imputed1['Classificacao'] = df_imputed1['WQI'].apply(classificar_wqi)
df_imputed2['Classificacao'] = df_imputed2['WQI'].apply(classificar_wqi)
df_imputed3['Classificacao'] = df_imputed3['WQI'].apply(classificar_wqi)
df_imputed4['Classificacao'] = df_imputed4['WQI'].apply(classificar_wqi)
df_imputed5['Classificacao'] = df_imputed5['WQI'].apply(classificar_wqi)

In [240]:
# Conta quantas ocorrências há para cada classe de classificação
contagem_classificacoes1 = df_imputed1['Classificacao'].value_counts().sort_index()
contagem_classificacoes2 = df_imputed2['Classificacao'].value_counts().sort_index()
contagem_classificacoes3 = df_imputed3['Classificacao'].value_counts().sort_index()
contagem_classificacoes4 = df_imputed4['Classificacao'].value_counts().sort_index()
contagem_classificacoes5 = df_imputed5['Classificacao'].value_counts().sort_index()

# Exibe o número de ocorrências para cada classe (1 a 4)
print(contagem_classificacoes1)
print(contagem_classificacoes2)
print(contagem_classificacoes3)
print(contagem_classificacoes4)
print(contagem_classificacoes5)

Classificacao
1      15
2     299
3    1304
4    1165
Name: count, dtype: int64
Classificacao
1     10
2     70
3    429
4    440
Name: count, dtype: int64
Classificacao
1     11
2    101
3    579
4    454
Name: count, dtype: int64
Classificacao
1     11
2     88
3    555
4    660
Name: count, dtype: int64
Classificacao
1      4
2     27
3    173
4    296
Name: count, dtype: int64